*,
*:before,
*:after {
    box-sizing: border-box;
}



.arvo {
    font-family: 'Arvo', serif;

}




.overflow {
    overflow-y: scroll;
}


.boxy {
    display: block;
    height: 1rem;
    width: 5rem;
    background-color: purple;
}

.aauto {
    margin: auto;
}

.wrapper {
    /*
  max-width: 940px;
  margin: 0 20px;
*/
    display: grid;
    grid-gap: 1rem;
}

.sidebar {
    display: none;
}

.sidestuff {
    max-height: 25rem;
    
}

@media screen and (min-width: 960px) {

    /* no grid support? */
    .sidebar {
        float: left;
        width: 19.1489%;
        display: initial;
    }

    .content {
        float: right;
        width: 79.7872%;
    }

    .wrapper {
        margin: 0 auto;
        grid-template-columns: 18rem 5fr;
    }

    .header,
    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

}

.wrapper > * {
    /*
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
*/
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */

@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted gray;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 12em;
    background-color: white;
    color: black;
    padding: 1em 1em;
    margin: 0.5em;


    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 0;

}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.list {
    height: 100%;

}





l {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    cursor: pointer;
    padding: 1em;
    border: 1px solid #fff;
    border-bottom: none;
}

/*
label:hover {
    background: #dcdcdc;
}
*/

label.last {
    border-bottom: 1px solid #fff;
}

.collapsable {
    padding: 0.5em;
    /*   background: white; */
}


input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

input[type="checkbox"]:checked + label {
    /*   background: #e5e5e5; */
    border-bottom: 1px solid white;
    border-left: 1px solid #000000;
    background-color: #5e2ca5;
    color: white;
}

ul,
li {
    list-style: none;
}


.hover_purple:hover {
    color: #5e2ca5;
    border-color: #5e2ca5;
}

.hover_purple:focus {
    color: #5e2ca5;
    border-color: #5e2ca5;
}

.hover_purple_b:hover {
    border-color: #5e2ca5;
}

.hover_purple_b:focus {
    border-color: #5e2ca5;
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}


.sticky2 {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 7rem;
}

.card {
    display: inline-block;
    width: 136px;
    height: 232px;
    /*    background-color: #5e2ca5;*/
    background-image: url("slice1.png");
    /*    background-color: beige;*/
}

.ph {
    width: 132px;
    height: 128px;
    background-color: white;
}

/*
.placeholder2 {
    height: 90px;
    background-color: red;

}

.placeholder3 {
    vertical-align: middle
}
*/

a {
    text-decoration: none
}

.mauto {
    margin: auto;
}

@media screen and (min-width: 23em) {
    .mauto {
        width: 340px;
        margin: auto;
    }
    .filtr-item {
        padding: 0.75rem;
    }
    }
@media screen and (min-width: 30em) {
    .mauto {
        width: 490px;
        margin: auto;
    }
    .filtr-item {
        padding: 0.75rem;
    }
    }
@media screen and (min-width: 40em) {
    .mauto {
        width: 648px;
        margin: auto;
    }
    }




.a4h {
    max-height: 6rem;
}

@media screen and (min-width: 30em) {

    .a4h {
    max-height: 12rem;
}
    
}


.high {
    min-height: 48rem;
    max-height: 48rem;
    overflow-y: scroll;
}

.button {
    cursor: pointer
}

.button:hover {
    border-color: #5e2ca5;
    text-decoration: underline;
}

.button:active {
    color: white;
    background-color: #5e2ca5;
    border-color: #5e2ca5;    
}

.button:disabled {
    opacity: 0.5;
}

    background-color:
.active {
    color: white;
    background-color: #5e2ca5;
    border-color: #5e2ca5;
}

.w35 {
    width: 6rem;
}

/*
footer {
    height:8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    padding-bottom: 10rem ;
    min-height: 100%;
    position: relative;
}
*/

#wrap100 {
    min-height: 100vh;
}

html {
     height: 100%;
}

.allbutfoot {
    min-height: 100%;
}
    


